body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    text-align: center;
}

.user-checker {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

.error {
    color: red;
}

.user-details {
    margin-top: 20px;
}
.profile-picture {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it a circle */
    margin-top: 10px;
}